# 20211473 이동호 중간고사 실습과제 1번 (주문데이터 총 판매액수 상위 10개 품목)

### Chipotle 데이터셋을 가져옵니다.

In [1]:
# -*- coding: utf-8 -*-

import pandas as pd

# read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path = '../data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

In [2]:
chipo['order_id'] = chipo['order_id'].astype(str) # order_id는 숫자의 의미를 가지지 않기 때문에 str으로 변환합니다.

### apply()함수로 전처리를 수행하여 달러 표시를 제거합니다.

In [3]:
# column 단위 데이터에 apply() 함수로 전처리를 적용합니다.
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo.describe()

          quantity   item_price
count  4622.000000  4622.000000
mean      1.075725     7.464336
std       0.410186     4.245557
min       1.000000     1.090000
25%       1.000000     3.390000
50%       1.000000     8.750000
75%       1.000000     9.250000
max      15.000000    44.250000

### 아이템당 주문 개수를 구합니다.

In [4]:
# item당 주문 개수를 출력합니다.
order_count = chipo.groupby('item_name')['order_id'].count()
order_count[:10] # item당 주문 개수를 출력합니다.

item_name
6 Pack Soft Drink         54
Barbacoa Bowl             66
Barbacoa Burrito          91
Barbacoa Crispy Tacos     11
Barbacoa Salad Bowl       10
Barbacoa Soft Tacos       25
Bottled Water            162
Bowl                       2
Burrito                    6
Canned Soda              104
Name: order_id, dtype: int64

### 아이템당 주문 총량을 구합니다.

In [5]:
# item당 주문 총량을 출력합니다.
item_quantity = chipo.groupby('item_name')['quantity'].sum()
item_quantity[:10] # item당 주문 총량을 출력합니다.

item_name
6 Pack Soft Drink         55
Barbacoa Bowl             66
Barbacoa Burrito          91
Barbacoa Crispy Tacos     12
Barbacoa Salad Bowl       10
Barbacoa Soft Tacos       25
Bottled Water            211
Bowl                       4
Burrito                    6
Canned Soda              126
Name: quantity, dtype: int64

### 아이템당 총 판매액수를 구합니다.

#### groupby() 함수를 사용하여 판매량과 품목별 최대가격을 구하여 총 판매액수를 계산하였습니다.

In [6]:
# 품목별 가격을 구하는 DataFrame 객체를 생성합니다.
item_price = chipo.groupby('item_name')['item_price'].max()

# 각 품목의 총 판매액수를 계산하는 객체를 생성합니다.
total_price = order_count * item_price

# 각 품목별 총 판매액수를 출력합니다.
print(total_price)

item_name
6 Pack Soft Drink                          700.92
Barbacoa Bowl                              775.50
Barbacoa Burrito                          1069.25
Barbacoa Crispy Tacos                      203.50
Barbacoa Salad Bowl                        118.90
Barbacoa Soft Tacos                        293.75
Bottled Water                             2430.00
Bowl                                        44.40
Burrito                                     44.40
Canned Soda                                453.44
Canned Soft Drink                         1505.00
Carnitas Bowl                             2397.00
Carnitas Burrito                          1091.50
Carnitas Crispy Tacos                      125.86
Carnitas Salad                               8.99
Carnitas Salad Bowl                         71.34
Carnitas Soft Tacos                        470.00
Chicken Bowl                             23914.44
Chicken Burrito                          19355.00
Chicken Crispy Tacos                       822.50
Chicken Salad                               98.82
Chicken Salad Bowl                        2475.00
Chicken Soft Tacos                        2525.40
Chips                                     1360.95
Chips and Fresh Tomato Salsa              4867.50
Chips and Guacamole                       8526.20
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa         129.80
Chips and Roasted Chili-Corn Salsa          43.02
Chips and Tomatillo Green Chili Salsa      253.70
Chips and Tomatillo Red Chili Salsa        283.20
Chips and Tomatillo-Green Chili Salsa      148.18
Chips and Tomatillo-Red Chili Salsa        143.40
Crispy Tacos                                14.80
Izze                                        67.80
Nantucket Nectar                           183.06
Salad                                       14.80
Side of Chips                             1365.52
Steak Bowl                                5500.77
Steak Burrito                            10212.00
Steak Crispy Tacos                         629.30
Steak Salad                                 35.96
Steak Salad Bowl                           689.62
Steak Soft Tacos                          1017.50
Veggie Bowl                               1443.30
Veggie Burrito                            3206.25
Veggie Crispy Tacos                          8.49
Veggie Salad                                50.94
Veggie Salad Bowl                          202.50
Veggie Soft Tacos                          118.86
dtype: float64

### 각 품목별 총 판매액수가 가장높은 상위 10개의 품목을 출력합니다.
#### sort_values() 함수를 사용하여 총 판매액수를 내림차순으로 정렬후 head()함수를 사용하여 10개를 출력합니다.

In [7]:
# 총 판매액수 기준으로 데이터를 정렬합니다.
total_price_sorted = total_price.sort_values(ascending=False)

# 총 판매액수 상위 10개의 아이템을 출력합니다.
print(total_price_sorted.head(10))

item_name
Chicken Bowl                    23914.44
Chicken Burrito                 19355.00
Steak Burrito                   10212.00
Chips and Guacamole              8526.20
Steak Bowl                       5500.77
Chips and Fresh Tomato Salsa     4867.50
Veggie Burrito                   3206.25
Chicken Soft Tacos               2525.40
Chicken Salad Bowl               2475.00
Bottled Water                    2430.00
dtype: float64