In [20]:
# -*- coding: utf-8 -*-

%matplotlib inline

import time
import operator

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [23]:
# Data Source : https://grouplens.org/datasets/movielens

rating_file_path = "../data/ml-1m/ratings.dat"
movie_file_path = "../data/ml-1m/movies.dat"
user_file_path = "../data/ml-1m/users.dat"

rating_data = pd.io.parsers.read_csv(rating_file_path, 
                                     names=['user_id', 'movie_id', 'rating', 'time'], delimiter='::')
movie_data = pd.io.parsers.read_csv(movie_file_path, 
                                    names=['movie_id', 'title', 'genre'], delimiter='::')
user_data = pd.io.parsers.read_csv(user_file_path, 
                                   names=['user_id', 'gender', 'age', 'occupation', 'zipcode'], delimiter='::')

In [24]:
!pip install surprise

Requirement already satisfied: surprise in /Users/idongho/anaconda3/lib/python3.10/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /Users/idongho/anaconda3/lib/python3.10/site-packages (from surprise) (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/idongho/anaconda3/lib/python3.10/site-packages (from scikit-surprise->surprise) (1.10.0)
Requirement already satisfied: joblib>=1.0.0 in /Users/idongho/anaconda3/lib/python3.10/site-packages (from scikit-surprise->surprise) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/idongho/anaconda3/lib/python3.10/site-packages (from scikit-surprise->surprise) (1.23.5)

In [25]:
from surprise import SVD, Dataset, Reader, accuracy
from surprise.model_selection import train_test_split

np.set_printoptions(suppress=True)

reader = Reader(rating_scale=(1, 5))

In [26]:
# 데이터 프레임을 생성합니다.
ratings_dict = {'item_id': [1,2,3,1,2,3,2],
                'user_id': ['a','a','a','b','b','b','c'],
                'rating': [2,4,4,2,5,4,5]}
df = pd.DataFrame(ratings_dict)
df.head(10)

   item_id user_id  rating
0        1       a       2
1        2       a       4
2        3       a       4
3        1       b       2
4        2       b       5
5        3       b       4
6        2       c       5

In [27]:
# 데이터 프레임을 행렬로 변환하여 확인합니다.
df_matrix_table = df[['user_id', 'item_id', 'rating']].set_index(["user_id", "item_id"]).unstack().fillna(0)
df_matrix_table.head(10)

        rating
item_id      1    2    3
user_id
a          2.0  4.0  4.0
b          2.0  5.0  4.0
c          0.0  5.0  0.0

In [28]:
# user_id가 4인 유저의 영화 평가 데이터입니다.
target_user_id = 4
target_user_data = rating_data[rating_data['user_id']==target_user_id]
target_user_data.head(5)

     user_id  movie_id  rating       time
233        4      3468       5  978294008
234        4      1210       3  978293924
235        4      2951       4  978294282
236        4      1214       4  978294260
237        4      1036       4  978294282

In [29]:
# user_id 4인 유저가 평가한 영화 히스토리 정보를 추출합니다.
target_user_movie_rating_dict = {}

for index, row in target_user_data.iterrows():
    movie_id = row['movie_id']
    target_user_movie_rating_dict[movie_id] = row['rating']
            
print(target_user_movie_rating_dict)

{3468: 5, 1210: 3, 2951: 4, 1214: 4, 1036: 4, 260: 5, 2028: 5, 480: 4, 1196: 2, 1198: 5, 1954: 5, 1097: 4, 3418: 4, 3702: 4, 2366: 4, 1387: 5, 3527: 1, 1201: 5, 2692: 5, 2947: 5, 1240: 5}

In [41]:
# 타겟 유저(user_id가 4인 유저)가 보지 않은 영화 정보를 테스트 데이터로 생성합니다.
test_data = []
for index, row in movie_data.iterrows():
    movie_id = row['movie_id']
    rating = 0
    if movie_id in target_user_movie_rating_dict:
        continue
    test_data.append((target_user_id, movie_id, rating))

In [42]:
action_movies = movie_data[movie_data['genre'].str.contains('Action')]

total_rating = 0
count = 0

for data in test_data:
    user_id, movie_id, _ = data
    if movie_id not in action_movies['movie_id'].values:
        continue
    movie_ratings = rating_data[rating_data['movie_id'] == movie_id]['rating']
    if not movie_ratings.empty:
        total_rating += movie_ratings.mean()
        count += 1

if count > 0:
    average_rating = total_rating / count
    print(f"액션 영화에 대한 예상 평균평점: {average_rating:.2f}")
else:
    print("평가 가능한 액션 영화가 없습니다.")

액션 영화에 대한 예상 평균평점: 3.06

In [40]:
movie_data.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy